@tailwind base;
@tailwind components;
@tailwind utilities;


/* Primary: #1F1E24 */
/* Secondary:#6556CD */




::-webkit-scrollbar {
    height: 7px;
    width: 7px;
}

::-webkit-scrollbar-thumb{
    background-color:#656274 ;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover{
    background-color:#6556CD;
    /* cursor:grabbing; */

}




select{
    background: #101010;
    color: #F4F4F5;
    width: 150px;
    outline: none;
    padding: 0.50rem;
    font-size: 1.1rem;
    box-shadow: 0 1px 4px rgb(146 161 176 / 15%);
    cursor: pointer;
}

@media (max-width: 768px) {
    select{
        width: 200px;
    }
}
@media (max-width: 425px) {
    select{
        width: 150px;
    }
}